@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@400;500;700&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html{
box-sizing: border-box;
}
*,*::after, *::before{
box-sizing: inherit;
margin: 0;
padding: 0;
}
.Educationbanner{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 1440px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .main{
    flex-grow: 1;
    height: 100%;
    background: #CDC5BF;
  }
  ul{
  list-style-type: none;
  }
  
  a{
      text-decoration: none;
      color: inherit;
  }
  html,body{
    width: 1440px;
    height: 100%;
  }
  body{
  width: 100%;
  background: #CDC5BF;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  height: auto;
  }
  .rec-gradient{
  max-width: 1440px;
  width: 100%;
  background: linear-gradient(180deg, rgba(243, 199, 48, 0.30) 0%, rgba(243, 199, 48, 0.00) 100%);
  }
  .block_article{
    display: flex;
    width: 30rem;
    height: auto;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 10rem; /* Можете изменить в зависимости от вашего дизайна */
    left: 55rem; /* Можете изменить в зависимости от вашего дизайна */
    z-index: 1; 
  }
  .main-education{
    height: auto;
    padding-bottom: 10rem;
  }
  .education-container {
    position: relative;
    height: auto;
  }
  .article{
  max-width: 25rem;
  width: 100%;
  height: 3rem;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 26px;
  background: rgba(193, 162, 48, 0.69);
  box-shadow: 0px 0px 20px 0px rgba(255, 229, 154, 0.70);
  }
  .article p{
    padding: 0.5%;
  }
  .animal1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap:10px;
  }
  .pet1{
  max-width: 18rem;
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-radius: 1rem;
  border: 1px solid #4B5A31;
  }
 .catalog_block h1{
  color: #4B5A31;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 1%;
  }
  .block_catalog h2{
  color: #0D0D0D;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  }
  .block_catalog p{
  color: #475F45;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
.pageEvents{
  display: flex;
  flex-direction: column;
}
.main_events{
  display: flex;
  padding: 2rem;
  height: 50rem;
}

.block_review{
  display: flex;
}
.text_block_review{
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
gap: 3%;
padding-top: 2rem;
}

.text_block_review h1{
  color: #4B5A31;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

  .feedback_block p{
  color: #141414;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 32.3px; /* 170% */
  }
  .review-page{
    background: linear-gradient(171deg, #797E72 7.08%, rgba(181, 186, 174, 0.69) 38.08%, #D6D9D6 68.7%);
  }
  .button-submit{
  width: 9rem;
  height: 2.7rem;
  border-radius: 2rem;
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  background: #858D70;
  border: none;
  color: #ffffff;
  font-weight: 400;
  line-height: normal;
  }
.alert{
  margin-top: 1rem;
}