.volunteer_inf{
display: grid;
grid-template-columns: repeat(2, 1fr); /* 4 равных колонки */
gap: 1.6rem; /* пространство между колонками */
width: 100%; /* ширина контейнера 100% */
padding-left: 11rem;
padding-top: 1rem;
padding-bottom: 1.8rem;
}
.volunteer_block{
    background: linear-gradient(171deg, #797E72 7.08%, rgba(181, 186, 174, 0.69) 38.08%, #D6D9D6 68.7%);
}
.volunteer_block h1{
    font-size: 3rem;
    color: #4B5A31;
    padding-top: 1.9rem;
    padding-bottom: 1rem;
    text-align: center;
}
.volunteer_block p{
    color: #393939;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    width: 40rem;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.volunteer_block h2{
    color: #0D0D0D;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 25.3px */
}
.img-activity{
    width: 40rem;
    height: 30rem;
}
.active1{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 50rem;
}
.volunteer_block h3{
color: #0D0D0D;
font-family: Roboto;
font-size: 1.2rem;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 24px */
}