/* popup.css */
.popup-overlay {
  font-family: Arial, sans-serif;
  max-width: 30rem;
  font-size: 1.3rem;
  position: absolute;
  padding: 1rem;
  background-color: rgb(214, 213, 213);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content{
  font-size: 1.6rem;
}
.popup{
  width: 50rem;
}
.popup .close {
  position: relative;
  margin-left: 45rem;
  font-size: 1.3rem;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

