@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@400;500;700&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.banner{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.block-home{
    max-width: 100%;
    height: 55rem;
}
    h1{
    font-family: Roboto;
    line-height: normal;
    color: #000;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    }
    h2{
    color: #0D0D0D;
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    }
    .home_text_block {
     position: absolute;
     top: 44.4%;
     left: 7.3%;
     display: flex;
     flex-direction: column;
     gap: 20px;
    }
    .block-home h1{
    font-size: 48px;
    text-transform: uppercase;
    max-width: 500px;
    width: 100%;
    height: 224px;
    z-index: 2;
    }
    .block-home h2{
    width: 400px;
    height: 78px;
    font-size: 20px;
    padding-left:1%;
    padding-top: 0.09% ;
    }
    .button_block_find{
    display: flex;
    gap: 16px;
    padding-top: 7%;
    padding-left: 0.9%;
    }
    .button_find_amimal{
    width: 14rem;
    height: 3.5rem;
    color: #d1d1d1;
    font-size: 1.2rem;
    background-color: #4B5A31;
    border-radius: 30px;
    font-weight: 500;
    border: none;
    }
    .button_lost_amimal{
        width: 14rem;
        height: 3.5rem;
        color: #4B5A31;
        font-size: 1.2rem;
        font-weight: 500;
        background-color: transparent;
        border-radius: 30px;
        border: solid 3px #4B5A31;
    }