.map_block{
    display: flex;
    width: 100%;
    }
    .inf_pet{
    display: flex;
    text-align: start;
    flex-direction: column;
    max-width: 80rem;
    padding-top: 3rem;
    padding-left: 6rem;
    width: 100%;
    }
    .pet_photo{
    max-width: 100rem;
    height: 54.35rem;
    }
    .inf_pet h1{
        padding-top: 1rem;
        font-size: 3.5rem;
    }
    .inf_pet h2{
    color: #393939;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 51px */
    }
    .inf_pet p{
    color: #393939;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 45px */
    }
    .block_inf_text{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-top: 2rem;
    padding-left: 7%;
    }
    
    