.map_block{
    display: flex;
    width: 100%;
    height: auto;
    }
    .inf_pet{
    display: flex;
    text-align: start;
    flex-direction: column;
    max-width: 80rem;
    padding-top: 3rem;
    padding-left: 6rem;
    width: 100%;
    height: auto;
    }
    .pet_photo {
        max-width: 100rem;
        height: 100vh;
        object-fit: cover;
        float: right;
      }
    .inf_pet h1{
     padding-top: 2rem;
     font-size: 3.5rem;
    }
    .inf_pet h2{
    color: #393939;
    font-family: Roboto;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 51px */
    }
    .inf_pet p{
    color: #393939;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    margin: 0;
    font-weight: 400;
    line-height: 150%; /* 45px */
    }
    .block_inf_text{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-top: 1rem;
    padding-left: 7%;
    }
    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%; 
        height: 60%; 
        background-color: #fff; 
        border: 1px solid #000; 
        border-radius: 3rem;
        padding: 20px; 
        box-sizing: border-box;
     }
     @media (max-width: 768px) {
      .inf_pet {
        padding-left: 2rem;
        max-width: 64rem;
      }
    
      .block_inf_text {
        padding-left: 3%;
      }
    }
    
    @media (max-width: 480px) {
      .inf_pet {
        padding-left: 1rem;
      }
    
      .block_inf_text {
        padding-left: 2%;
      }
    }