.button_lost_animal{
    width: 14rem;
    height: 3.5rem;
    color: #4B5A31;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: transparent;
    border-radius: 30px;
    border: solid 3px #4B5A31;
  } 