.catalog_block{
    flex-grow: 1;
    height: 100%;
  }
  .block_catalog{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1.6rem;
    width: 100%; 
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .button-filters{
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }