.catalog_block{
    flex-grow: 1;
    height: 100%;
  }
  .block_catalog{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1.6rem;
    width: 100%; 
    padding: 1rem;
  }
  .button-filters{
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
  .my-button .button_lost_animal{
    width: 14rem;
    height: 3.5rem;
    color: #4B5A31;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: transparent;
    border-radius: 30px;
    border: solid 3px #4B5A31;
  } 