.main_lost_animal{
    display: flex;
    width: 100%;
    gap:0.4rem;
    }
    .lost_animal_map{
    display: flex;
    flex-direction: column;
    max-width: 895px;
    width: 100%;
    gap: 40px;
    }
    .lost_animal_container {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      max-height: 70rem;
      overflow-y: auto;
    }
    
    .lost_animal_container::-webkit-scrollbar {
      width: 10px;
    }
    
    .lost_animal_container::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }
    
    .lost_animal_container::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 5px;
    }
    
    .lost_animal_container::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }
    .lost_anml{
    display: flex;
    gap: 40px;
    padding-left: 4%;
    }
    .lost_inf{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    }
    .lost_pet1{
    width: 20rem;
    height: 15rem;
    object-fit: cover;

    }
    .lost_animal_map h1{
    color: #4B5A31;
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    line-height: normal;
    }
    .lost_animal_map h2{
    color: #0D0D0D;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 25.3px */
    }
    .lost_animal_map p{
    color: #393939;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    }
    .lost_animal_map .line{
    background: var(--light-gray, #595959);
    width: 786px;
    height: 1.389px;
    padding-left: 10%;
    }
    .fone{
        object-fit: cover; /* Растягивает изображение, сохраняя соотношение сторон */
        object-position: right; /* Центрирует изображение */
        width: 40rem;
        max-width: 100%;
        height: 80rem;
        margin: 0;
    }