@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@400;500;700&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  max-width: 110rem;
  width: 100%;
  height: 6.2rem;
  justify-content: space-between;
  padding-top: 0.5rem;
  background: #CDC5BF;
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo {
  width: 17rem;
  height: 5.5rem;
}

.button-log {
  display: flex;
  gap: 1rem;
  padding-top: 0.7rem;
}

.button-logIn,
.button-logUp {
  width: 7rem;
  height: 2.4rem;
  border-radius: 1rem;
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  margin-top: 0.6rem;
  font-weight: 400;
  line-height: normal;
}

.button-logIn {
  background: #FFF;
  border: none;
  color: #AFAFAF;
}

.button-logUp {
  background: #858D70;
  border: none;
  color: #ffffff;
}

.button-logUp:hover,
.button-logIn:hover {
  background-color: #4B5A31; /* Задайте цвет при наведении */
}
/* Стили кнопок на планшете */
@media (max-width: 768px) {
  .button-logIn,
  .button-logUp {
    width: 6rem;
    height: 2.2rem;
    font-size: 0.9rem;
  }
}

/* Стили кнопок на мобильном устройстве */
@media (max-width: 320px) {
  header {
    display: flex;
    width: 100%;
   height: auto;
    justify-content: space-between;
    padding-top: 0.5rem;
    background: #CDC5BF;
    padding-left: 2rem;
    padding-right: 12rem;
  }
  .button-logIn,
  .button-logUp {
    width: 5rem;
    height: 2rem;
    font-size: 0.8rem;
  }
}