@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@400;500;700&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  max-width: 127rem;
  width: 100%;
  height: 120px;
  justify-content: space-between;
  padding-top: 1.3%;
  background: #CDC5BF;
  padding-left: 3.8%;
  padding-right: 4.8%;
}

.logo {
  width: 378px;
  height: 80px;
}

.button-log {
  display: flex;
  gap: 32px;
  padding-top: 0.7rem;
}

.button-logIn,
.button-logUp {
  width: 10rem;
  height: 3.5rem;
  border-radius: 20px;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-logIn {
  background: #FFF;
  border: none;
  color: #AFAFAF;
}

.button-logUp {
  background: #858D70;
  border: none;
  color: #ffffff;
}

.button-logUp:hover,
.button-logIn:hover {
  background-color: #4B5A31; /* Задайте цвет при наведении */
}

/* Отзывчивость для размеров экрана до 768px */
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .logo {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .button-log {
    flex-direction: column;
  }

  .button-logIn,
  .button-logUp {
    width: 100%;
    margin-bottom: 1rem;
  }
}
