.feedback_block{
display: flex;
flex-direction: column; 
align-items: center;
padding-bottom: 2rem;
}
.feedback_block p{
color: #141414;
text-align: center;
width: 100%;
font-family: Montserrat;
font-style: normal;
font-weight: 400;
line-height: 32.3px; /* 170% */
}
.rec_feedback1 p{
font-size: 1.3rem;
width: 100%;
padding: 1rem;
margin: 0;
}
.rec_feedback1 h3{
  font-size: 1.3rem;
  text-align: start;
  width: 100%;
  margin: 0;
  padding-left: 2rem;
  padding-top: 0.7rem;
  }
.rec_feedback2 p{
font-size: 1.5rem;
color: #FFF;
text-align: start;
max-width: 523px;
width: 100%;
}
.rec_feedback1{
max-width: 45rem;
width: 100%;
height: auto;
background: #FFF;
text-align: center;
}
.rec_feedback2{
max-width: 45rem;
width: 100%;
height: 123px;
background: rgba(52, 61, 51, 0.85);
}
.inf_feedback{
display: flex;
gap: 20px;
padding-top: 4%;
padding-left: 3%;
}
.inf_commentators{
display: flex;
flex-direction: column;
text-align: start;
}
.commentators{
width: 75px;
height: 75px;
}
.review_button{
  width: 14rem;
  height: 3rem;
  transform: rotate(-0.087deg);
  border-radius: 2rem;
  border: none;
  background: rgba(53, 79, 47, 0.7);
  font-size: 1.3rem;
  color: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(51, 77, 48, 0.7)
}
